# DEVELOPMENT CONFIGURATION - example
SECRET_KEY="replace-me"
DJANGO_SETTINGS_MODULE=main.settings.local
DATABASE_URL=sqlite:///db.sqlite3

# PRODUCTION CONFIGURATION - example
SECRET_KEY="replace-me"
DJANGO_SETTINGS_MODULE=main.settings.production
DATABASE_URL=replace-me-with-your-secure-database-url
ALLOWED_HOSTS=your-own-heroku-app-url
CSRF_TRUSTED_ORIGINS=https://your-own-heroku-app-url